.home {
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;

  &-addbt{
    margin-top: 1rem;
    margin-left: 19rem;
  }
  &-header {
    margin-top: 4rem;
  }

  &-no-plants {
    margin-top: 14rem;
    width: 100%;
    text-align: center;
  }

  &-card{
    width:45%;
    height:20vh;
    background-color:green;
    border-radius:20px 20px 20px 20px;
    padding-left:1rem;
    
  }
}
