//import all fontes in use 
@font-face {
    font-family: "LufgaRegular";
    src: local("LufgaRegular"),
      url("./fonts/LufgaRegular.otf") format("truetype");
  }

  @font-face {
    font-family: "LufgaSemiBold";
    src: local("LufgaSemiBold"),
      url("./fonts/LufgaSemiBold.otf") format("truetype");
  }